body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #17202a;
}

h3 {
  color: #707b7c;
}

/* ---------- Login ---------*/

.cont {
  background: #1b2631;
  padding: 2rem;
  box-shadow: 2px 2px 5px #000;
}
.bg-input {
  background: #707b7c;
  color: #d5dbdb;
}
.bg-input::placeholder {
  color: #d5dbdb;
}
